/* define as propriedades de body*/
body{
    background-image: url("../Imagens/background.png");
    background-color: rgb(15, 17, 34);
    font-family: Arial, Helvetica, sans-serif;
    
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    align-items: center;
    justify-content: center;
}
/* Define propriedades do formulario */
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* define propriedades gerais*/
#chSquare {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
}
/* define propriedades gerais do login*/
.squareLogin{
    display: flex;
    flex-direction: column;
    background-image: url("../Imagens/img_fundo_login.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    min-width: 450px;
    min-height: 450px;
    align-items: center;
    justify-content: center;
}
/* define propriedades gerais do cadastro*/
.squareRegister{
    display: flex;
    flex-direction: column;
    background-image: url("../Imagens/img_fundo_login.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 30px;
    min-width: 450px;
    min-height: 580px;
    align-items: center;
    justify-content: center;
}
/* define propriedades gerais dos quadrados presentes*/
.square-group{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}
/* define propriedades para os */
.square-group > label{
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    margin-bottom: 3px;
}
/* define propriedades para as caixas de input*/
.square-group > input{
    border-radius: 5px;
    background-color: #ffffff;
    width: 97%;
    height: 40px;
    padding: 5px;
    border: none;
    font-size: medium;

}

/* define propriedades para os botões(cadastro e login)*/
.square-group > button{
    color: #767676 ;
    border-radius: 20px;
    background-color: rgb(190, 250, 133);
    width: 100%;
    height: 50px;
    outline: 0;
    border: 0px;
    font-size: 20px;
}

/* define efeito visual ativado quando o mouse passa sobre o botão*/
.bt button:hover{
    background-color: rgb(159, 241, 83);
    cursor:pointer;
}

/* define as propriedades para os links de remanejamento(ir para o cadastro ou login) */
a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

/* define efeito visual ativado quando o mouse passa sobre o link*/
a:hover{
    color: #767676;
    transition-delay: 20ms;
}