body{
    background-color: lightblue;
    background-image: url("../Imagens/background.png");
    height: 100%;
    width: 100%;
}


.itens{
    position: relative;
    background: orange; 
    height: 100%;
    width: 30%; 
    border: 5px solid black;
    margin-left: auto;
    margin: 1%;
}

.img{
    position: relative;
    margin: 10%;
    left: 10%;
    border: solid blueviolet;
}

